<template>
  <div id="app" class="container">
    <h1>ComicBook Split</h1>
    <div>
      <div><label v-t="'Select a CBR File to split:'" for="file" /></div>
      <input type="file" accept=".cbr" @change="uploadFile" />
    </div>
    <div v-show="showUploadProgress">
      <div>{{ $t("Upload in progress...") }}</div>
      <progress max="100" :value="uploadPercentage" />
    </div>
    <div v-show="uploadError" class="alert alert-danger" role="alert">
      {{ $t("Error while trying to upload:") }} {{ uploadError }}
    </div>
    <div v-show="showConvertProgress">
      <div>{{ $t("Conversion in progress...") }}</div>
      <progress id="convertProgress" :value="convertProgress" />
    </div>
    <div v-show="convertError" class="alert alert-danger" role="alert">
      {{ $t("Error while trying to convert:") }} {{ convertError }}
    </div>
    <div v-show="showSplittedLink">
      <div>{{ $t("Splitted file ready:") }}</div>
      <a :href="splittedUrl">{{ splittedFilename }}</a>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";

export default Vue.extend({
  data() {
    return {
      uploadPercentage: 0,
      showUploadProgress: false,
      uploadError: undefined as string | undefined,
      showConvertProgress: false,
      convertProgress: undefined as number | undefined,
      convertError: undefined as string | undefined,
      showSplittedLink: false,
      splittedUrl: "",
      splittedFilename: "",
    };
  },
  methods: {
    reset(): void {
      this.uploadPercentage = 0;
      this.showUploadProgress = false;
      this.uploadError = undefined;
      this.showConvertProgress = false;
      document.getElementById("convertProgress")?.removeAttribute("value");
      this.convertProgress = undefined;
      this.convertError = undefined;
      this.showSplittedLink = false;
      this.splittedUrl = "";
      this.splittedFilename = "";
    },
    async uploadFile(e: Event): Promise<void> {
      const files = (e.target as HTMLInputElement).files;
      if (!files) {
        return;
      }
      const file = files[0];
      if (!file) {
        return;
      }
      this.reset();
      const maxFileSizeMB = 200;
      if(file.size > maxFileSizeMB * 1024 * 1024){
        this.uploadError = this.$i18n.tc("File is too big (max file size is {0} MB).", undefined,[maxFileSizeMB]);
        return;
      }
      this.showUploadProgress = true;
      const formData = new FormData();
      formData.append("file", file);
      try {
        const response = await axios.post(
          process.env.VUE_APP_BACKEND_URL + "/upload",
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data",
            },
            onUploadProgress: (progressEvent: ProgressEvent) =>
              (this.uploadPercentage = Math.round(
                (progressEvent.loaded / progressEvent.total) * 100
              )),
          }
        );
        console.log("upload success " + response.data.task_url);
        this.watchTask(response.data.task_url);
      } catch (error) {
        console.log("upload failure");
        console.log(error);
        this.uploadError = error;
      }
    },
    async watchTask(taskUrl: string): Promise<void> {
      this.showConvertProgress = true;
      try {
        const response = await axios.get(
          process.env.VUE_APP_BACKEND_URL + taskUrl
        );
        console.log("convert " + response.data.done);
        if (response.data.done) {
          console.log("convert success");
          this.convertProgress = 1;
          this.splittedUrl =
            process.env.VUE_APP_BACKEND_URL +
            response.data.splitted_download_url;
          this.splittedFilename = response.data.splitted_filename;
          this.showSplittedLink = true;
        } else {
          setTimeout(() => this.watchTask(taskUrl), 1000);
        }
      } catch (error) {
        console.log("convert failure");
        console.log(error);
        this.convertError = error;
      }
    },
  },
});
</script>

<style>
#app {
  margin-top: 30px;
}
</style>
